socket
concurrent.futures
nmap
requests
subprocess
random
threading
scapy
folium
webbrowser
geopy
tkintermapview
ttkbootstrap
customtkinter
fpdf
docx
phonenumbers
email_validator
whois
dns.resolver
csv